<p>
  <% if @question.include?("?") %>
    <%= "Silly question, get dressed and go to work!" %>
  <% elsif @question == "I am going to work" %>
    <%= "Great!" %>
  <% else %>
    <%= "I don't care, get dressed and to go work!" %>
  <% end %>
</p>